$colors-gray: #8d8d8d;
$colors-gray-xs: #fafafa;
$colors-gray-s: #e7e7e7;
$colors-gray-sm: #6b6b6b;
$colors-gray-l: #f1f1f1;
$colors-primary: #01a7fd;
$colors-black: #000000;
$colors-white: #ffffff;
$colors-purple-xs: #f9f7fe;
$colors-purple-l: #e8e1fa;
$colors-red: #db524e;
$colors-red-xs: #f9e3e3;
$colors-primary-disabled: #ceecfc;
$colors-success: #27ae5fb7;
