@forward "normalize";
@forward "fonts";

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

@keyframes slide-in-out {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}
